<!DOCTYPE html>
<html lang="en">

<head>
    <title>Alleles Searcher</title>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script type="text/javascript" src="/static/js/functions.js"></script>

</head>

<body>

<div class="row">
    <!-- Sidebar -->

    <div class="column left page-wrapper chiller-theme toggled">
        <a id="close-sidebar" class="btn btn-sm btn-dark" onclick="openSideBar()">
            <i class="fa fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="">welcome</a>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded"
                             src="{{ url_for('static', filename='images/FAVPNG_avatar-icon-human-icon-person-icon_u2sqMuvB.png') }}"
                             alt="User picture">
                    </div>
                    <div class="user-info">
                      <span class="user-name" id="usernameSpan">
                        <strong></strong>
                      </span>

                        <a class="user-status" href="/edit/{{ userid }}">Edit profile</a>
                        <a class="user-status" href="/logout/{{ userid }}">Logout</a>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="/compare/{{ userid }}">
                                <i class="fa fa-table"></i>
                                <span>Find Haplotypes</span>
                            </a>
                        </li>
                         <li>
                            <a href="/inspect/{{ userid }}"> <i
                                    class="fa fa-database"></i><span>Inspect</span></a>
                         </li>
                        <li>
                            <a href="/align/{{ userid }}"> <i
                                    class="fa fa-search"></i><span>Align two sequences</span></a>
                         </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- Page content -->
    <div class="column right">
        <div class="site-wrap">

            <input type="hidden" class="hidden" id="results-input" value="{{ results }}"/>
            <input type="hidden" class="hidden" id="msg" value="{{ msg }}"/>
            <input type="hidden" class="hidden" id="username" value="{{ username }}"/>
            <input type="hidden" class="hidden" id="databases" value="{{ databases }}"/>
            <div class="ftco-cover-1 fullscreen">
                <div class="container">
                    <div id="loader" class="loader" hidden=""></div>

                    <div class="right-row align-items-center justify-content-center">
                        <div class="text-center">
                            <h1>Align Sequences</h1>
                            <p class="mb-5">Align and compare two sequences in .fa format</p>
                            <form method="post">
                                <div class="container ">
                                    <div class="flex-wrapper">
                                        <div>
                                        <textarea name="sequence1" id="sequence1" class="text-area"
                                                  placeholder="{{ sequenceExample1 }}" rows="10"
                                                  cols="55">{{ sequence1 }}</textarea>
                                        </div>
                                        <div>
                                        <textarea name="sequence2" id="sequence2" class="text-area"
                                                  placeholder="{{ sequenceExample2 }}" rows="10"
                                                  cols="55">{{ sequence2 }}</textarea>
                                        </div>
                                    </div>
                                    <button style="margin: 1rem 0;" type="submit" onclick="showLoading()">Align</button>
                                </div>
                            </form>
                        </div>
                    </div>
                      <div class="container bordered scrollable" id="table-results" hidden="">

                      </div>
                </div>
                <!-- END .ftco-cover-1 -->
            </div>
            <script>
                 configureSideBar();
                 showResults();
            </script>
        </div>
    </div>
</div>
</body>

</html>
