<!DOCTYPE html>
<html lang="en">

<head>
    <title>Alleles Searcher</title>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='fontawesome-free-5.12.0-web/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="/static/js/functions.js"></script>
</head>


<body>
<div class="top-bar">
    <div class="flex-row">
        <div class="bar-left">
            <!--            <a id="menu" class="margin-left" onclick="openSideBar()">
                            <i class="fa fa-bars"></i>
                         </a>-->
            <a class="margin-left" href="">ALELLES SEARCHER</a>
        </div>

        <div class="user-icon">
            <img class="user-icon-img" onclick="showUserMenu()"
                 src="{{ url_for('static', filename='images/FAVPNG_avatar-icon-human-icon-person-icon_u2sqMuvB.png') }}"
                 alt="User picture">
        </div>
    </div>
</div>

<div id="user-menu" class="user-menu" hidden="true">
    <p>Signed in as <b>{{ username }}</b></p>
    <a class="user-status" href="/edit/{{ userid }}">Edit profile</a>
    <a class="user-status" href="/logout/{{ userid }}">Logout</a>
</div>

<!-- Sidebar -->

<div id="left-panel" class="column left page-wrapper chiller-theme toggled">
    <a id="close-sidebar" class="btn btn-sm btn-dark toggle" onclick="openSideBar()">
        <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-menu">
                <ul>
                    <li class="sidebar-dropdown">
                        <a class="menu" href="/compare/{{ userid }}">
                            <i class="fa fa-home"></i>
                            <span>WELCOME</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="sidebar-menu bordered">
                <ul>
                    <li class="sidebar-dropdown">
                        <a href="/compare/{{ userid }}">
                            <i class="fa fa-table"></i>
                            <span>Compare</span>
                        </a>
                    </li>
                    <li>
                        <a href="/align/{{ userid }}"> <i
                                class="fa fa-search"></i><span>Align</span></a>
                    </li>
                    <li>
                        <a href="/inspect/{{ userid }}"> <i
                                class="fa fa-database"></i><span>Admin</span></a>
                    </li>
                </ul>
            </div>

            <div class="sidebar-menu bordered">
                <ul>

                    <li>
                        <a href="/inspect/{{ userid }}"> <i
                                class="fa fa-info-circle"></i><span>About us</span></a>
                    </li>
                    <li>
                        <a href="/align/{{ userid }}"> <i
                                class="fa fa-envelope"></i><span>Contact</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="row">


    <!-- Page content -->
    <div class="column right">
        <div class="site-wrap">

            <input type="hidden" class="hidden" id="results-input" value="{{ results }}"/>
            <input type="hidden" class="hidden" id="msg" value="{{ msg }}"/>
            <input type="hidden" class="hidden" id="username" value="{{ username }}"/>
            <input type="hidden" class="hidden" id="databases" value="{{ databases }}"/>
            <div class="ftco-cover-1 fullscreen">
                <div class="container">
                    <div id="loader" class="loader" hidden=""></div>

                    <div class="right-row align-items-center justify-content-center text-center margin">
                        <div>
                            <h1>Alleles Searcher</h1>
                            <p class="mb-4">Solve SNP desambiguations</p>
                            <form method="post">
                                <div class="container">
                                    <div class="flex-row margin-bottom">
                                        <div class="col-6">
                                            <label>Number of results </label>
                                            <input type="number" name="numResults" id="numResults" min="1" max="50"
                                                   step="1" value="10">
                                        </div>
                                        <div class="col-6">
                                            <label>Database</label>
                                            <select id="selectDbs" name="selectDbs">
                                            </select>
                                        </div>

                                    </div>
                                    <div>
                                        <textarea name="sequence" id="sequence" class="text-area"
                                                  placeholder="{{ sequenceExample }}" rows="10" cols="85">{{ sequence }}</textarea>
                                    </div>

                                    <button type="submit" onclick="showLoading()">Search</button>
                                </div>
                                <div class="container bordered" id="table-results" hidden="">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END .ftco-cover-1 -->
            </div>
            <script>
             setDatabases();
             configureSideBar();
             createTable();


            </script>
        </div>
    </div>
</div>
</body>

</html>
